{% extends 'common.html' %}

{% load static %}

{% block title %}WatchWise{% endblock %}

{% block content %}

    <div class="container my-5 text-center" style="max-width: 580px;">
        <h1>Gestore di film e serie TV</h1>
        <p class="lead">Interagite con i pulsanti sottostanti per visualizzare film o serie TV
        </p>
        <button type="button" class="btn btn-primary">Film</button>
        <button type="button" class="btn btn-secondary">Serie TV</button>
    </div>

{% endblock %}
