{% extends 'base.html' %} 

{% block title %}Form{% endblock %} 

{% block content %}

<h1>Form di inserimento</h1>

<form action="{% url 'inserimento' %}" method="POST">
  {% csrf_token %}
  <div class="form-group">
    <label for="exampleInputEmail1">Film:</label>
    <input type="text" name="title" value="{{ title }}" /> 
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Rilascio:</label>
    <input type="text" name="release_year" value="{{ release_year }}" />
  </div>

  <button type="submit" class="btn btn-primary">Invia</button>
  <p>{{ message }}</p>
</form>

{% endblock %}
