{% extends 'common.html' %}

{% load static %}
 
{% block title %}TV Shows{% endblock %} 

{% block content %}
<div class="container my-5">
  <h1 class="mb-4">List of TV Shows</h1>
  {% if tv_shows %}
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Genre</th>
        <th scope="col">Year of Release</th>
      </tr>
    </thead>
    <tbody>
      {% for tv_show in tv_shows %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ tv_show.title }}</td>
        <td>{{ tv_show.genre }}</td>
        <td>{{ tv_show.release_year }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>No records found.</p>
  {% endif %}
</div>
{% endblock %}
