{% extends 'base.html' %} 

{% block title %}Update Movie{% endblock %} 

{% block content %}
<div class="container my-5">
    <h1 class="mb-4">Update Movie</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="status">Status:</label>
            <select class="form-control" id="status" name="status">
                <option value="wishlist" {% if media.status == 'wishlist' %}selected{% endif %}>Wishlist</option>
                <option value="watched" {% if media.status == 'watched' %}selected{% endif %}>Watched</option>
                <option value="not_interested" {% if media.status == 'not_interested' %}selected{% endif %}>Not Interested</option>
            </select>
        </div>
        <div class="form-group">
            <label for="rating">Rating:</label>
            <input type="number" class="form-control" id="rating" name="rating" value="{{ media.rating }}">
        </div>
        <div class="form-group">
            <label for="comment">Comment:</label>
            <textarea class="form-control" id="comment" name="comment">{{ media.comment }}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>
{% endblock %}
